@import 'libs/bootstrap-reboot.min';
@import 'base/mixins';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

@import 'blocks/buttons';
@import 'blocks/titles';



* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h3, h5, h6 {
    margin-bottom: 0;
}


@import 'libs/font';

.container {
    width: 1280px;
    margin: 0 auto;
    @include for-desktop-up {
        width: 900px;
    }
    @include for-tablet-landscape-up {
        width: 750px;
    }
    @include for-tablet-portrait-up {
        width: 500px;
    }
    @include for-phone-only {
        width: 290px;
    }
}
section {
    max-width: 1920px;
    width: 100%;
}

@import 'blocks/promo';
@import 'blocks/about';
@import 'blocks/team';
@import 'blocks/booking';
@import 'blocks/specialties';
@import 'blocks/menu';
@import 'blocks/events';
@import 'blocks/gallery';
@import 'blocks/contact';
@import 'blocks/map';
@import 'blocks/footer';