.background {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    &__wrapper {
        width: 850px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        &_section {
            @include for-tablet-landscape-up {
                height: 100%;
            }
            @include for-tablet-portrait-up {
                height: 100%;
                width: 450px;
            }
            @include for-phone-only {
                height: 100%;
                width: 290px;
            }
        }
        &_promo {
            @include for-tablet-landscape-up {
                height: 100%;
                width: 700px;
            }
            @include for-tablet-portrait-up {
                height: 100%;
                width: 510px;
            }
            @include for-phone-only {
                height: 100%;
                width: 290px;
            }
        }
    }

    &__line {
        width: 1px;
        height: 700px;
        background-color: rgba(255, 255, 255, 0.2);
        position: relative;
        &:nth-child(1) {
            
        }
        &:nth-child(2) {
            
        }
        &:nth-child(3) {
            
        }
        &_section {
            position: absolute;
            bottom: 0;
            left: 50%;
            height: 700px;
            @include for-tablet-landscape-up {
                height: 100%;
            }
        }
        &_promo {
            position: absolute;
            bottom: 0;
            left: 50%;
            height: 600px;
        }
        @include for-tablet-landscape-up {
            height: 100%;
        }
        @include for-tablet-portrait-up {
            height: 100%;
        }
        @include for-phone-only {
            height: 100%;
        }
    }
    &_section {
        @include for-tablet-landscape-up {
            height: 100%;
        }
        @include for-tablet-portrait-up {
            height: 100%;
        }
        @include for-phone-only {
            display: none;
        }
    }
    &_promo {
        @include for-tablet-landscape-up {
            height: 700px;
        }
        @include for-tablet-portrait-up {
            height: 100%;
        }
        @include for-phone-only {
            display: none;
        }
    }

    &__top {
        position: absolute;
        width: 100%;
        @include for-tablet-portrait-up {
            display: none;
        }
        @include for-phone-only {
            display: none;
        }
    }

    &__line-horizontal {
        width: 530px;
        background-color: rgba(255, 255, 255, 0.2);
        height: 1px;
        position: absolute;
        &:nth-child(1) {
            left: -270px;
            @include for-desktop-up {
                left: -70px;
            }
            @include for-tablet-landscape-up {
                left: -70px;
            }
        }
        &:nth-child(2) {
            right: -270px;
            @include for-desktop-up {
                right: -70px;
            }
            @include for-tablet-landscape-up {
                right: -70px;
            }
        }
        @include for-desktop-up {
            width: 350px;
        }
        @include for-tablet-landscape-up {
            width: 350px;
        }
    }


}
