.menu {
    padding-bottom: 100px;
    &__title {
        margin-top: 100px;
        text-align: center;
        text-transform: uppercase;
        line-height: 48px;
    }
    &__divider {
        width: 60px;
        height: 5px;
        background-color: #E8C300;
        border-radius: 50px;
        margin: 0 auto;
        margin-top: 20px;
    }
    &__subtitle {
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        width: 565px;
        margin: 20px auto 0px auto;
        @include for-tablet-portrait-up {
            width: 100%;
        }
        @include for-phone-only {
            width: 100%;
        }
    }
    &__list {
        ul {
            width: 840px;
            height: 50px;
            margin: 50px auto 0px auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style-type: none;
            @include for-tablet-landscape-up {
                width: 100%;
            }
            @include for-tablet-portrait-up {
                width: 100%;
            }
            @include for-phone-only {
                width: 100%;
            }
            li {
                margin-top: 0px;
                display: inline;
                position: relative;
                font-weight: 700;
                font-size: 12px;
                color: #333333;
                text-transform: uppercase;
                line-height: 18px;
                &:after {
                    content: '';
                    position: absolute;
                    top: -75%;
                    left: 80px;
                    width: 1px;
                    height: 50px;
                    background-color: rgba(51, 51, 51, 0.2);
                }
            }
            li:last-child {
                &:after {
                    content: '';
                    display: none;
                }
            }
        }
    }
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 365px);
        justify-content: space-between;
        @include for-desktop-up {
            grid-template-columns: repeat(3, 1fr);
        }
        @include for-tablet-landscape-up {
            grid-template-columns: 1fr;
        }
        @include for-tablet-portrait-up {
            grid-template-columns: 1fr;
        }
        @include for-phone-only {
            grid-template-columns: 1fr;
        }
    }
    &__subwrapper {
        margin-top: 50px;
    }
    &__item {
        margin-bottom: 40px;
    }
    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__name {
        font-size: 18px;
        line-height: 18px;
        color: #333333;
    }
    &__price {
        font-size: 18px;
        line-height: 18px;
        color: #333333;
    }
    &__ingr {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #333333;
        opacity: 0.5;
    }
}