.promo {
    width: 100%;
    margin: 0 auto;
    min-height: 800px;
    background: url('../../img/header/header-bg.png') no-repeat 50%/cover;
    position: relative;
    &__aside {
        position: absolute;
        &-left {
            left: 80px;
            top: 350px;
            div {
                height: 360px;
                width: 25px;
                position: relative;
                span {
                    transform: rotate(-90deg) translate(-30%, -690%);
                    display: block;
                    width: 351px;
                    font-weight: bold;
                    color: #ffffff;
                    @include for-tablet-portrait-up {
                        transform: rotate(-90deg) translate(-30%, -920%);
                    }
                }
            }
            @include for-tablet-portrait-up {
                top: 275px;
            }
        }
        &-right {
            right: 80px;
            top: 340px;
            width: 60px;
            height: 220px;
            @include for-tablet-portrait-up {
                right: 15px;
                top: 255px;
            }
        }
    }
    &__social {
        div {
            width: 60px;
            height: 62px;
            margin-bottom: 20px;
            img {
                width: 100%;
            }
        }
    }
    &__header {
        display: grid;
        grid-template-columns: 535px 150px 535px;
        justify-content: space-between;
        @include for-desktop-up {
            grid-template-columns: 2fr 1fr 2fr;
        }
        @include for-tablet-landscape-up {
            grid-template-columns: 2fr 1fr 2fr;
        }
        @include for-tablet-portrait-up {
            grid-template-columns: 1fr;
        }
    }
    &__menu {
        ul {
            padding-top: 40px;
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            li {
                display: inline;
                color: #ffffff;
                font-weight: 700;
                font-size: 12px;
                line-height: 18px;
                text-transform: uppercase;
            }
        }
        &-link {
            color: #FFFFFF;
            &:hover {
                color: #FFFFFF;
            }
        }
        &-left, &-right {
            display: none;
        }
    }
    &__logo {
        padding-top: 25px;
        @include for-desktop-up {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        @include for-tablet-portrait-up {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &__caption {
        margin-top: 150px;
        font-weight: 700;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        letter-spacing: 8px;
        @include for-tablet-landscape-up {
            margin-top: 40px;
        }
        @include for-tablet-portrait-up {
            margin-top: 40px;
        }
    }
    &__title {
        color: #ffffff;
        text-transform: uppercase;
        text-align: center;
    }
    &__divider {
        width: 60px;
        height: 5px;
        background-color: #E8C300;
        border-radius: 50px;
        margin: 0 auto;
    }
    &__btns {
        display: flex;
        justify-content: space-between;
        width: 440px;
        margin: 30px auto 0px auto;
    }
    &__down {
        width: 60px;
        height: 60px;
        margin: 82px auto 0px auto;
    }
}